.contact-container {
    text-align: center;
    height: 730px;
}

.contact-m {
    text-decoration: none;
    color: white;
}

.contact-g {
    text-decoration: none;
    color: white;
}

.contact-l {
    text-decoration: none;
    color: white;
}

.contact-list > button {
    background-color: black;
    color: white;
    border: 2px solid #0A81AB;
    padding: 20px;
    margin-right: 30px;
    border-radius: 5px;
}

.contact-header {
    font-size: 40px;
    margin-bottom: 30px;
}

.contact-list {
    border: 1px solid red;
    margin-top: 100px;
    padding: 20px;
    justify-content: space-around;
}

.m-t {
    margin-top: 100px;
}
.contact-list > a {
    background-color: #0A81AB;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}

.contact-list > a:hover {
    background-color: white;
    color: #0A81AB;
    margin-bottom: 4px;
}