.home-container {
    width: 100%;
    height: 730px;
    display: flex;
    /* border: 1px solid green; */
}

.home-profile {
    width: 40%;
    padding: 150px 0px 0px 150px;
}

.home-intro {
    width: 60%;
    height: 100%;
    /* border: 1px solid red; */
    padding-top: 250px;
    font-size: 40px;
}

.profile-img {
    width: 300px;
    border-radius: 200px;
}

.blue {
    color: #0A81AB;
}

.m-t {
    margin-top: 100px;
}

#home {
    margin-top: -100px;
    transition: 2s;
}