.App {
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid red;
}
html {
    scroll-behavior: smooth;    
  }

.offset:before { 
display: block; 
content: " "; 
height: 100px;      /* Give height of your fixed element */
    /* margin-top: -150px; Give negative margin of your fixed element  	 */
    visibility: hidden; 
}